ReportManagerClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReportManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CoreWCFService.AlarmModel" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CoreWCFService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CoreWCFService.TagDbModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReportManagerService_AlarmsOverAPeriodOfTime_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsOverAPeriodOfTime" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AlarmsOverAPeriodOfTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsOverAPeriodOfTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AlarmsWithPriority_InputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsWithPriority" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AlarmsWithPriority_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlarmsWithPriorityResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_TagsOverAPeriodOfTime_InputMessage">
    <wsdl:part name="parameters" element="tns:TagsOverAPeriodOfTime" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_TagsOverAPeriodOfTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagsOverAPeriodOfTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfAnalogInputTags_InputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfAnalogInputTags" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfAnalogInputTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfAnalogInputTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfDigitalInputTags_InputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfDigitalInputTags" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_LastValueOfDigitalInputTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:LastValueOfDigitalInputTagsResponse" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AllValuesOfTagWithTagName_InputMessage">
    <wsdl:part name="parameters" element="tns:AllValuesOfTagWithTagName" />
  </wsdl:message>
  <wsdl:message name="IReportManagerService_AllValuesOfTagWithTagName_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllValuesOfTagWithTagNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IReportManagerService">
    <wsdl:operation name="AlarmsOverAPeriodOfTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsOverAPeriodOfTime" message="tns:IReportManagerService_AlarmsOverAPeriodOfTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsOverAPeriodOfTimeResponse" message="tns:IReportManagerService_AlarmsOverAPeriodOfTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlarmsWithPriority">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsWithPriority" message="tns:IReportManagerService_AlarmsWithPriority_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/AlarmsWithPriorityResponse" message="tns:IReportManagerService_AlarmsWithPriority_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TagsOverAPeriodOfTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/TagsOverAPeriodOfTime" message="tns:IReportManagerService_TagsOverAPeriodOfTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/TagsOverAPeriodOfTimeResponse" message="tns:IReportManagerService_TagsOverAPeriodOfTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastValueOfAnalogInputTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfAnalogInputTags" message="tns:IReportManagerService_LastValueOfAnalogInputTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfAnalogInputTagsResponse" message="tns:IReportManagerService_LastValueOfAnalogInputTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LastValueOfDigitalInputTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfDigitalInputTags" message="tns:IReportManagerService_LastValueOfDigitalInputTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/LastValueOfDigitalInputTagsResponse" message="tns:IReportManagerService_LastValueOfDigitalInputTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllValuesOfTagWithTagName">
      <wsdl:input wsaw:Action="http://tempuri.org/IReportManagerService/AllValuesOfTagWithTagName" message="tns:IReportManagerService_AllValuesOfTagWithTagName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReportManagerService/AllValuesOfTagWithTagNameResponse" message="tns:IReportManagerService_AllValuesOfTagWithTagName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReportManagerService" type="tns:IReportManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AlarmsOverAPeriodOfTime">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/AlarmsOverAPeriodOfTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlarmsWithPriority">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/AlarmsWithPriority" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagsOverAPeriodOfTime">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/TagsOverAPeriodOfTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastValueOfAnalogInputTags">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/LastValueOfAnalogInputTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LastValueOfDigitalInputTags">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/LastValueOfDigitalInputTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllValuesOfTagWithTagName">
      <soap:operation soapAction="http://tempuri.org/IReportManagerService/AllValuesOfTagWithTagName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportManagerService">
    <wsdl:port name="BasicHttpBinding_IReportManagerService" binding="tns:BasicHttpBinding_IReportManagerService">
      <soap:address location="http://localhost:8000/ReportManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>