DatabaseManagerClient/Connected Services/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DatabaseManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthentication_Registration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Registration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IAuthentication_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddDigitalInputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddDigitalInputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalInputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddDigitalOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddDigitalOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDigitalOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddAnalogInputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddAnalogInputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogInputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddAnalogOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddAnalogOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnalogOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarm" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_AddAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_RemoveTag_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTag" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_RemoveTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveTagResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_ChangeOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValue" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_ChangeOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_GetOutputValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValue" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_GetOutputValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputValueResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_TurnScanOn_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOn" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_TurnScanOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOnResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_TurnScanOff_InputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOff" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_TurnScanOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:TurnScanOffResponse" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_GetStringForPrintingTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStringForPrintingTags" />
  </wsdl:message>
  <wsdl:message name="IDatabaseManagerService_GetStringForPrintingTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStringForPrintingTagsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthentication">
    <wsdl:operation name="Registration">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Registration" message="tns:IAuthentication_Registration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/RegistrationResponse" message="tns:IAuthentication_Registration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Login" message="tns:IAuthentication_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/LoginResponse" message="tns:IAuthentication_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthentication/Logout" message="tns:IAuthentication_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthentication/LogoutResponse" message="tns:IAuthentication_Logout_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IDatabaseManagerService">
    <wsdl:operation name="AddDigitalInputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddDigitalInputTag" message="tns:IDatabaseManagerService_AddDigitalInputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddDigitalInputTagResponse" message="tns:IDatabaseManagerService_AddDigitalInputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddDigitalOutputTag" message="tns:IDatabaseManagerService_AddDigitalOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddDigitalOutputTagResponse" message="tns:IDatabaseManagerService_AddDigitalOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogInputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddAnalogInputTag" message="tns:IDatabaseManagerService_AddAnalogInputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddAnalogInputTagResponse" message="tns:IDatabaseManagerService_AddAnalogInputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddAnalogOutputTag" message="tns:IDatabaseManagerService_AddAnalogOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddAnalogOutputTagResponse" message="tns:IDatabaseManagerService_AddAnalogOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddAlarm" message="tns:IDatabaseManagerService_AddAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/AddAlarmResponse" message="tns:IDatabaseManagerService_AddAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/RemoveTag" message="tns:IDatabaseManagerService_RemoveTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/RemoveTagResponse" message="tns:IDatabaseManagerService_RemoveTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/ChangeOutputValue" message="tns:IDatabaseManagerService_ChangeOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/ChangeOutputValueResponse" message="tns:IDatabaseManagerService_ChangeOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/GetOutputValue" message="tns:IDatabaseManagerService_GetOutputValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/GetOutputValueResponse" message="tns:IDatabaseManagerService_GetOutputValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnScanOn">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/TurnScanOn" message="tns:IDatabaseManagerService_TurnScanOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/TurnScanOnResponse" message="tns:IDatabaseManagerService_TurnScanOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TurnScanOff">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/TurnScanOff" message="tns:IDatabaseManagerService_TurnScanOff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/TurnScanOffResponse" message="tns:IDatabaseManagerService_TurnScanOff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStringForPrintingTags">
      <wsdl:input wsaw:Action="http://tempuri.org/IDatabaseManagerService/GetStringForPrintingTags" message="tns:IDatabaseManagerService_GetStringForPrintingTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDatabaseManagerService/GetStringForPrintingTagsResponse" message="tns:IDatabaseManagerService_GetStringForPrintingTags_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthentication" type="tns:IAuthentication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://tempuri.org/IAuthentication/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDatabaseManagerService" type="tns:IDatabaseManagerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDigitalInputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/AddDigitalInputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDigitalOutputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/AddDigitalOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogInputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/AddAnalogInputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnalogOutputTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/AddAnalogOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/AddAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveTag">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/RemoveTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputValue">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/ChangeOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputValue">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/GetOutputValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnScanOn">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/TurnScanOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TurnScanOff">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/TurnScanOff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStringForPrintingTags">
      <soap:operation soapAction="http://tempuri.org/IDatabaseManagerService/GetStringForPrintingTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DatabaseManagerService">
    <wsdl:port name="BasicHttpBinding_IAuthentication" binding="tns:BasicHttpBinding_IAuthentication">
      <soap:address location="http://localhost:8000/Authentication" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDatabaseManagerService" binding="tns:BasicHttpBinding_IDatabaseManagerService">
      <soap:address location="http://localhost:8000/DatabaseManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>