AlarmDisplayClient/Connected Services/ServiceReference/CoreWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CoreWCFService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CoreWCFService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Limit" type="xs:double" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW" />
      <xs:enumeration value="HIGH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
</xs:schema>